/*.step
/*.stl
/*.zip
/*.lock
/.vs/
/__pycache__/
/dist/
enclosure_50x40_base10_lid10/enclosure_50x40_base10_lid10_pcb_lid.dxf
enclosure_50x40_base10_lid10/enclosure_50x40_base10_lid10_pcb_base.dxf
enclosure_50x40_base10_lid10/enclosure_50x40_base10_lid10_parameters.txt
enclosure_50x40_base10_lid10/enclosure_50x40_base10_lid10_lid.stl
enclosure_50x40_base10_lid10/enclosure_50x40_base10_lid10_lid.step
enclosure_50x40_base10_lid10/enclosure_50x40_base10_lid10_base.stl
enclosure_50x40_base10_lid10/enclosure_50x40_base10_lid10_base.step
enclosure_100x80_base30_lid10/enclosure_100x80_base30_lid10_pcb_lid.dxf
enclosure_100x80_base30_lid10/enclosure_100x80_base30_lid10_pcb_base.dxf
enclosure_100x80_base30_lid10/enclosure_100x80_base30_lid10_parameters.txt
enclosure_100x80_base30_lid10/enclosure_100x80_base30_lid10_lid.stl
enclosure_100x80_base30_lid10/enclosure_100x80_base30_lid10_lid.step
enclosure_100x80_base30_lid10/enclosure_100x80_base30_lid10_base.stl
enclosure_100x80_base30_lid10/enclosure_100x80_base30_lid10_base.step
